* {
  margin: 0;
  padding: 0;
}
p {
  margin-top: 10px auto;
  width: 980px;
  text-align: justify;
  font-size: 18px;
  line-height: 28px;
}
.section1 {
  text-align: center;
  background-color: #afddfb;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 30px;
  padding-bottom: 30px;
}

.section1 img {
  width: 150px;
}

.section1 a {
  font-size: 18px;
  color: #1d1d1d;
  border-bottom: 2px solid #1d1d1d;
  text-decoration: none;
  margin: 0 10px;
}

.section2 {
  margin-top: 50px;
  text-align: center;

  padding-top: 30px;
}

.section3 {
  text-align: center;
  /* margin-top: 25px;
  margin-bottom: 25px; */

  padding-top: 30px;
  padding-bottom: 30px;
}

.section3 h1 {
  color: #1d1d1d;
  margin-bottom: 5px;
}

.section3 h2 {
  color: #1c81c0;
  margin-top: 0;
  font-weight: normal;
}

.section3 img {
  margin: 0 auto;
  width: 450px;
}

.section3 p {
  margin-top: 10px;
}

.section3 span {
  font-weight: bold;
  color: #1c81c1;
}

.section4 {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #1d80c1;
}

.section4 p {
  color: #ffffff;
  line-height: 42px;
  font-size: 22px;
  text-align: center;
  width: 700px;
  margin: 40 auto;
}

.section4 h2 {
  color: #ffffff;
  font-size: 28px;
  line-height: 42px;
}

.section4 .texto-amarelo {
  color: #fff81b;
}
.section4 li {
  color: #ffffff;
  line-height: 42px;
  text-align: left;
  font-size: 22px;
  list-style: circle;
}
.section5 {
  text-align: center;

  padding-top: 30px;
  padding-bottom: 30px;
}

.section5 p {
  margin-top: 10px;
}

.section5 h3 {
  font-size: 28px;
  line-height: 42px;
  font-weight: bold;
  color: #1c81c1;
}

.section5 img {
  margin: 0 auto;
  width: 450px;
  /* max-height: 100px; */
}

.section5 span {
  font-weight: bold;
  color: #1c81c1;
}
.section6 {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #ffffff;
  font-size: 28px;
  line-height: 42px;
  background-color: #1c81c1;
}
.section6 p {
  background-color: #1d1d1d;
  color: #ffffff;
  padding: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.section6 .texto-amarelo {
  color: #fff81b;
}
.section6 iframe {
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #1d80c1;
}

.section6 ul {
  margin: 40px auto;
  width: 210px;
  list-style: none;
}

.section6 ul li {
  margin-top: 15px;
  text-align: center;
  font-size: 18px;
}

.section6 ul li a {
  background-color: #ffffff;
  color: #1d80c1;
  padding: 2px 5px;
  border-radius: 5px;
}

span {
  color: #1d80c1;
  font-weight: bold;
}
